<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("./partials/head") %>

<body>
    

<%- include("./partials/header") %>







</body>
                <!--Footer-->
                <%- include("./partials/footer") %>
</html>
