/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #00000042;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

}

/* team */

.container-widget .panel {
    margin-bottom: 15px;
    border-radius: 0px;
    border: 1px #e6e9ee solid;
}

.panel-info {
    background: transparent;
    color: rgb(255, 255, 255);
}

.panel-success {
    background: #b35f1a url(http://themesground.com/modern/demo1/HTML/img/intro-bg.png) repeat top left;
    color: #fff;
}

.panel-widget {
    overflow: hidden;
    border: none;
}

.panel .panel-title {
    color: #ffffff;
    border-bottom: 1px solid rgb(248, 244, 244);
    border-radius: 0px;
}
.panel-title {
    font-family: 'Montserrat', sans-serif;
    color: #58666e;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 20px;
    margin: -20px;
    background: transparent;
    margin-bottom: 5px;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    letter-spacing: 1px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.basic-list {
    margin-bottom: 0;
    padding: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Basic List */
.basic-list {
  margin-bottom: 0;
  padding: 0;
}
.basic-list li {
  display: block;
  position: relative;
  padding: 12px 0;
}
.basic-list li:last-child {
  border-bottom: none;
}
.basic-list .right {
  position: absolute;
  right: 0;
  display: inline-block;
  padding: 3px 6px;
  font-weight: 600;
}

/* Image List */
.image-list li {
  padding-left: 50px;
}
.image-list .img {
    width: 40px;
    height: 40px;
    position:absolute;
    left: 0;
    border-radius: 0px;
}
.image-list .desc {
  font-size: 12px;
  opacity: 0.8;
  display: block;
  margin-left: -200px

}
.image-list b {
  margin-left: -220px
}
